asgiref==3.9.1
Django==5.2.5
django-apscheduler==0.6.2
django-filter==24.3
djangorestframework==3.15.2
APScheduler>=3.10,<3.11
redis>=5,<6
packaging==25.0
pip-check==3.1
psutil==6.0.0
pynvml==11.5.3
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
terminaltables==3.1.10
tzlocal==5.3.1
